# Xcode
DerivedData/
*.xcworkspace
*.xcuserdatad
xcuserdata/
xcshareddata/
*.xcsettings

# CocoaPods
Pods/

# Swift Package Manager
.build/

# SwiftLint
.swiftlint.yml
digio.xcodeproj/xcuserdata/ianfagundes.xcuserdatad/xcschemes/xcschememanagement.plist
